node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite
.vscode
prisma


.env
package-lock.json
yarn.lock
.npmrc
.dockerignore
.editorconfig
.eslintignore
.eslintrc.cjs
.prettierignore
*.toml
